// FOOTER

.footer {
    background-color: #343434;
    width: 100%;
    height: auto;
    padding: 0px 0 15px 0;

    &__logo {
        color: #FFFFFF;
        font-family: Shrikhand;
        font-size: 18px;
        font-weight: 100;
        letter-spacing: 0.2px;
        margin: 0px 20px; 
        padding-top: 30px;

        @media screen and (min-width:575px){
            font-size: 25px;
            margin-bottom: 10px;
        }

        @media screen and (min-width:575px){
            font-size: 25px;
            padding-top: 20px;
        }
    }

    ul {
        padding: 0;
        margin: 20px;

        @media screen and (min-width: 575px) {
            margin: 20px;
        }

        @media screen and (min-width:575px){
           margin: 10px 20px 10px 20px;
        }
    }

    &__txt {
        color: #FFFFFF;
        font-size: 16px;
        font-weight: 400;
        display: block;
        margin: 3px 0 3px 0;

        @media screen and (min-width: 575px) {
            font-size: 19px;
            font-weight: 500;
        }

        @media screen and (min-width: 1255px) {
            font-size: 16px;
            font-weight: 500;
        }

        &:hover {
            text-decoration: underline;
        }

        &--icon1 {
            font-size: 15px;
            margin-right: 10px;
            padding-right: 3px;
        }

        &--icon2 {
            font-size: 13px;
            margin-right: 5px;
            padding-right: 3px;
        }
    }
}