
/*************
    Explore and 
    Order Button
**************/

.container-explore__btn {
    @include background-btn-explore;
    @include box-shadow;
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    border-radius: 100px;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
}

.opt-list__btn {
    background-color: $opt-background-color;
    @include box-shadow;
    color: black;
    border: none;
    height: 60px;
    width: 100%;
    border-radius: 15px;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;
}