// Btn Accueil

.container-explore__btn {
    @include background-btn-explore;
    @include box-shadow;
    @include FlexCenter;
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    border-radius: 100px;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;

    @media screen and (min-width: 575px) {
        font-size: 20px;
        font-weight: 500;
        width: 280px;
        height: 55px;
    }
}

// .opt-list__btn {
//     background-color: $opt-background-color;
//     @include box-shadow;
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     height: 65px;
//     width: 100%;
//     border-radius: 18px;
//     font-weight: 450;
//     font-size: 16px;
//     cursor: pointer;
//     padding: 0 20px 0 20px;
//     margin: 10px 0;

//     &--icon {
//         color: grey;
//         position: absolute;
//         left: 60px;
//     }
// }


// Btn Menus


.container-btn-menu {
    @include FlexCenter;
    padding: 10px 0 60px 0;
}

.btn-menu {
    @include background-btn-explore;
    @include box-shadow;
    @include FlexCenter;
    color: white;
    border: none;
    height: 50px;
    width: 180px;
    border-radius: 100px;
    font-weight: 450;
    font-size: 16px;
    cursor: pointer;

    @media screen and (min-width: 575px) {
        font-size: 20px;
        font-weight: 500;
        height: 55px;
        width: 200px;
    }

}