
/*************
    Explore and 
    Order Button
**************/

button {
    @include background-button;
    @include box-shadow;
    color: white;
    border: none;
    height: 50px;
    width: 220px;
    border-radius: 100px;
    font-weight: 450;
    font-size: 16px;
}