/*************
    Restaurant
    Cards
**************/

.container-restaurant {
    background-color: $background-color; 
    height: auto;
    width: 100%;
    padding: 0 20px;

    h2 {
        padding-top: 50px;
    }
}

.container-cards {
    @include FlexColumnCenter;
    padding-bottom: 40px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 1px #e2e2e2;
    margin: 0 0 20px 0;

    &__img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        object-position: 0px -52px;
        border-radius: 15px 15px 0 0;
    }

    &:nth-child(2) .cards__img {
        object-position: 0px -155px;
    }

    &:nth-child(4) .cards__img {
        object-position: 0px -55px;
    }

    &__nouveau {
        background-color: $tertiary-color;
        @include box-shadow;
        @include FlexCenter;
        color: #009070;
        border-radius: 3px;
        padding: 5px 10px 5px 10px;
        position: absolute;
        right: 30px;
        margin-top: 10px;
        font-size: 15px;
        font-weight: 520;
    }

    &__details {
        display: flex;

        &--txt {
            margin: 15px 10px 0px 15px;
            padding-right: 50px; /////////////////////////////
        }

        &--main {
            margin: 0 0 5px 0;
            font-size: 18.5px;
            font-weight: 600;
        }

        &--secondary {
            margin: 0;
            font-size: 17px;
            font-weight: 300;
        }
    }
}