// home

.cards__icon--heart {

    display: flex;
    justify-content: flex-end;
    font-size: 27px;
    margin: 19px 25px 0 0;
    z-index: 1;
    display: block;
   
    @media screen and (min-width: 575px) {
        margin: 25px 25px 0 0;
    } 

    i.far.fa-heart {
        display: block;
    }

    i.fas.fa-heart {
        display: none;
        background: linear-gradient(195deg, $primary-color 20%, $secondary-color 90%);
        opacity: 0;
    }
    
    &:hover i.far.fa-heart {
        display: none;
        border: 0 solid transparent;
        }

    &:hover i.fas.fa-heart {
        display: block;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: hidden 0.7s forwards;
    }
}

@keyframes hidden { ///////////////// Rename
    0% {
        opacity: 0%;
    }

    16% {
        opacity: 2%;
    }

    30% {
        opacity: 9%;
    }

    40% {
        opacity: 19%;
    }

    53% {
        opacity: 50%;
    }

    60% {
        opacity: 74%;
    }

    67% {
        opacity: 93%;
    }

    100% {
        opacity: 100%;
    }
}

// menus

.menu-title__heart {
    font-size: 27px;
    z-index: 1;
    position: absolute;
    top: 19px;
    right: 29px;
    cursor: pointer;

    @media screen and (min-width: 575px) {
        font-size: 30px;
        top: 22px;
        
    }

    i.far.fa-heart {
        display: block;
    }

    i.fas.fa-heart {
        display: none;
        background: linear-gradient(195deg, $primary-color 20%, $secondary-color 90%);
        opacity: 0;
    }
    
    &:hover i.far.fa-heart {
        display: none;
        border: 0 solid transparent;
        }

    &:hover i.fas.fa-heart {
        display: block;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        animation: hidden 0.7s forwards;
    }
}