.search-bar {
    background-color: $search-bar-color;
    @include FlexCenter;
    padding-top: 65px;
    padding-bottom: 15px;
    width: 100%;
    box-shadow: 0px 3px 5px 0px #CCCCCC inset;

    @media screen and (min-width: 575px) {
        padding-top: 75px;
    }

    @media screen and (min-width: 1255px) {
        padding-top: 12px;
    }

    &__icons {
        position: relative;

        i {
            font-size: 15px;
            position: absolute;
            right: -6px;
            top: -8px;
        }
    }

    &__input {
        background-color: $search-bar-color;
        border-radius : 6px; // Suppression de l'apparence des input type="search" sur ios
        border: none; // Suppression de l'apparence des input type="search" sur ios
        appearance: none; // Suppression de l'apparence des input type="search" sur ios
        -webkit-appearance: none; // Suppression de l'apparence des input type="search" sur ios
        text-align: center;
        width: 130px;
        margin-top: 5px;
        margin-left: 14px;

        @media screen and (min-width: 575px) {
            width: 150px;
        }
        
        &::placeholder {
            color: $placeholder-color;
            font-weight: 400;
            font-size: 16px;

                @media screen and (min-width: 575px) {
                font-size: 19px;
                }
        }     
    }   
}