/*************
    base
**************/

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  // max-width: 1400px;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  list-style-type: none;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}
