/*************
    section : search
**************/

.search-bar {
    background-color: $search-bar-color;
    @include FlexCenter;
    padding-top: 65px;
    padding-bottom: 15px;
    width: 100%;
    box-shadow: 0px 3px 5px 0px #CCCCCC inset;

    @media screen and (min-width: 575px) {
        padding-top: 75px;
    }

    @media screen and (min-width: 1100px) {
        padding-top: 12px;
    }

    &__icons {
        position: relative;

        i {
            font-size: 15px;
            position: absolute;
            right: 4px;
            top: -8px;
        }
    }

    &__input {
        background-color: $search-bar-color;
        border-radius : 6px; // Suppression de l'apparence des input type="search" sur ios
        border: none; // Suppression de l'apparence des input type="search" sur ios
        appearance: none; // Suppression de l'apparence des input type="search" sur ios
        -webkit-appearance: none; // Suppression de l'apparence des input type="search" sur ios
        text-align: center;
        width: 130px;
        margin-top: 5px;

        @media screen and (min-width: 575px) {
            width: 150px;
            }
        
        &::placeholder {
            color: $placeholder-color;
            font-weight: 400;
            font-size: 16px;

                @media screen and (min-width: 575px) {
                font-size: 19px;
                }
            }     
    }   
}

/*************
    section : explore
**************/

.container-explore {
    @include FlexColumnCenter;
    background-color: $explore-background-color;
    box-shadow: 0px 0px 98px 1px rgba(0, 0, 0, 0.03) inset;
    height: auto;
    width: 100%;
    padding: 40px 0px 50px 0;

    h2 {
        margin: 0 40px 0 40px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;

        @media screen and (min-width: 575px){
            font-size: 30px;
        }
       
    }

    p {
        margin: 15px 30px 25px 30px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;

        @media screen and (min-width: 575px) {
            font-size: 21px;
        }
    }   
}

/*************
    section : function
**************/

.container-opt {
    @include FlexColumn;
    height : auto;
    width: 100%;
    padding: 20px 20px 30px 20px;

    @media screen and (min-width: 575px){
        padding: 20px 40px 30px 40px;
    }

    @media screen and (min-width: 700px){
        padding: 20px 50px 30px 50px;
    }

    @media screen and (min-width: 900px){
        padding: 20px 100px 30px 100px;
    }

    @media screen and (min-width: 1000px){
      
    }

    h2 {
        font-size: 25px;
        font-weight: 600;

        @media screen and (min-width: 575px){
            font-size: 30px;
        }

        @media screen and (min-width: 1255px){
            padding-left: 200px;
        }
    }
}

.opt-list {
    padding-left: 10px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 1255px) {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 40px 0 40px;
    }

    &__step {
       display: flex;
       align-items: center;
    }

    &__btn {
        background-color: $opt-background-color;
        @include box-shadow;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 65px;
        width: 100%;
        border-radius: 18px;
        font-weight: 450;
        font-size: 16px;
        cursor: pointer;
        padding: 0 20px 0 20px;
        margin: 10px 0;

        @media screen and (min-width: 1255px) {
            min-width: 400px;
        }
    
        &--icon {
            color: grey;
            position: absolute;
            left: 60px;
            font-size: 18px;

            @media screen and (min-width: 575px) {
                font-size: 22px;
                left: 80px;
            }

            @media screen and (min-width: 700px) {
                left: 90px;
            }

            @media screen and (min-width: 900px) {
                left: 150px;
            }

            @media screen and (min-width: 1255px) {
                position: relative; 
                left: 20px;
            }
        }
    }
  
    &__number {
        background-color: $primary-color;
        padding: 2px 6.5px;
        border-radius: 500px;
        color: white;
        position: absolute;
        left: 18px;
        font-size: 14px;
        font-weight: 500;

        @media screen and (min-width: 575px) {
            font-size: 20px;
            left: 35px;
            padding: 3px 9px;   
        }

        @media screen and (min-width: 700px) {
            left: 45px;   
        }

        @media screen and (min-width: 900px) {
            left: 95px;   
        }

        @media screen and (min-width: 1255px) {
            position: relative; 
            left: 15px;
        }
    }

    &__txt {
       display: flex;
       justify-content: flex-start;
       padding-left: 50px;
       font-size: 16px;

       @media screen and (min-width: 575px){
           font-size: 20px;
       }

       @media screen and (min-width: 900px){
        padding-left: 70px;
    }

    @media screen and (min-width: 1255px){
        padding-left: 40px;
        padding-right: 20px;
    }
       
    }
}
