/*************
    section : search
**************/

.search-bar {
    background-color: $search-bar-color;
    @include FlexCenter;
    height: 45px;
    width: 100%;
    box-shadow: 0px 3px 5px 0px #CCCCCC inset;

    &__icons {
        font-size: 15px;
    }

    &__input {
        background-color: $search-bar-color;
        border : none;
        text-align: center;
        width: 40%;
        
        &::placeholder {
            color: $placeholder-color;
            font-weight: 400;
            font-size: 16px;
            }
    }   
}

/*************
    section : explore
**************/

.container-explore {
    @include FlexColumnCenter;
    background-color: $explore-background-color;
    box-shadow: 0px 0px 98px 1px rgba(0, 0, 0, 0.03) inset;
    height: auto;
    padding: 40px 0px 50px 0;

    h2 {
        margin: 0 40px 0 40px;
        text-align: center;
        font-size: 25px;
        font-weight: 600;
       
    }

    p {
        margin: 15px 30px 25px 30px;
        text-align: center;
        font-size: 18px;
        font-weight: 300;
    }   
}

/*************
    section : function
**************/

.container-list {
    @include FlexColumnCenter;
    height : auto;

    ul {
        padding : 0;
    }
}