/*************
    menus
**************/

.background-img__horizontal {
    max-width: 100%;
    max-height: 255px;
    width: 100%;
    object-fit: cover;

    @media screen and (min-width: 575px){
        max-height: 350px;
    }

    @media screen and (min-width: 700px){
        max-height: 400px;
        object-position: 0 -100px;
    }

    @media screen and (min-width: 938px){
        max-height: 450px;
        object-position: 0 -160px;
    }

    @media screen and (min-width: 1100px){
        max-height: 520px;
        object-position: 0 -350px;
    }
}

.background-img__vertical{
    max-height: 255px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0px -92px;

    @media screen and (min-width: 575px){
        max-height: 350px;
        object-position: 0 -140px;
    }

    @media screen and (min-width: 700px){
        max-height: 400px;
        object-position: 0 -320px;
    }

    @media screen and (min-width: 938px){
        max-height: 450px;
        object-position: 0 -470px;
    }

    @media screen and (min-width: 1100px){
        max-height: 520px;
        object-position: 0 -730px;
    }

}

// Section menu 

.container-menu {
    width: 100%;
    // max-width: 1140px;
    background-color: $background-color;
    @include box-shadow;
    padding-top: 10px;
    margin-top: -40px;
    border-radius: 30px 30px 0 0;
    background-color: #f6f6f6;
    z-index: 1;
    position: relative;

    @media screen and (min-width: 575px) {
        border-radius: 40px 40px 0 0;
    }

    @media screen and (min-width: 700px) {
        max-width: 95%;
        margin-top: -120px;
    }

    @media screen and (min-width: 938px) {
        max-width: 95%;
        margin-top: -120px;
    }

    @media screen and (min-width: 1100px){
        max-width: 92%;
        margin-top: -125px;
    }
}

.container-sub-menu {

    @media screen and (min-width: 938px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.menu-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__txt{
        font-weight: 50;
        font-size: 28px;
        font-family: Shrikhand;
        padding-left: 20px;
        margin: 20px 0 35px 0;

        @media  screen and (min-width: 575px) {
            font-weight: 50;
            font-size: 35px;
            padding-left: 0;
            margin: 20px 0 35px 0;
            
        }
    }

    @media screen and (min-width: 575px) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.sub-menu {
    
    margin: 0 10px 0 10px;
    padding-bottom: 25px;

    @media screen and (min-width: 450px) {
        margin: 0 20px 0 20px;
    }

    @media screen and (min-width: 575px) {
        margin: 0 40px 0 40px;
    }

    @media screen and (min-width: 700px) {
        margin: 0 50px 0 50px;
    }  

    @media screen and (min-width: 938px) {
        margin: 0 20px 0 20px;
    }  

    &__title {
        position: relative;
        padding-bottom: 7px;
        font-weight: 300;
        font-size: 17px;
        margin: 0 0 15px 10px;

        @media screen and (min-width: 575px){
            font-size: 20px;
        } 

        &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 47px;
            height: 3px;
            background-color: $tertiary-color;
        }
    }
}