@charset "UTF-8";
/*************
    reset
**************/
* {
  box-sizing: border-box;
  /*- ─*/
  -webkit-box-sizing: border-box;
  /*- ─*/
  -moz-box-sizing: border-box;
  /*- ─*/
}

html {
  -webkit-text-size-adjust: 100%;
  /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: subpixel-antialiased;
  /*─ Debug safari font weight when fixed element on the page ─*/
  -webkit-font-smoothing: antialiased;
  /*─ idem : Debug safari font weight when fixed element on the page ─*/
  line-height: 1.15;
  /*- Correct the line height in all browsers. ─*/
}

main {
  display: block;
  /*- Render the `main` element consistently in IE. -*/
}

h1 {
  font-size: 2em;
  /*- Correct the font size and margin on `h1` elements within `section` and
  `article` contexts in Chrome, Firefox, and Safari. -*/
  margin: 0.67em 0;
  /*- Idem -*/
}

hr {
  box-sizing: content-box;
  /*- Add the correct box sizing in Firefox. ─*/
  height: 0;
  /*- Correct the inheritance and scaling of font size in all browsers. ─*/
  overflow: visible;
  /*- Show the overflow in Edge and IE. ─*/
}

pre {
  font-family: monospace, monospace;
  /*- Correct the inheritance and scaling of font size in all browsers. -*/
  font-size: 1em;
  /*- Correct the odd `em` font sizing in all browsers. -*/
}

a {
  background-color: transparent;
  /*- Remove the gray background on active links in IE 10. -*/
}

abbr[title] {
  border-bottom: none;
  /*- Remove the bottom border in Chrome 57 -*/
  text-decoration: underline;
  /*- Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. -*/
  text-decoration: underline dotted;
  /*- Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. -*/
}

b,
strong {
  font-weight: bolder;
  /*- Add the correct font weight in Chrome, Edge, and Safari. -*/
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  /*- Correct the inheritance and scaling of font size in all browsers. -*/
  font-size: 1em;
  /*- Correct the odd `em` font sizing in all browsers. -*/
}

small {
  font-size: 80%;
  /*- Add the correct font size in all browsers. -*/
}

sub,
sup {
  font-size: 75%;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
  line-height: 0;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
  position: relative;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
  vertical-align: baseline;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
}

sub {
  bottom: -0.25em;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
}

sup {
  top: -0.5em;
  /*- Prevent `sub` and `sup` elements from affecting the line height in all browsers. -*/
}

img {
  border-style: none;
  /*- Remove the border on images inside links in IE 10. -*/
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /*- Change the font styles in all browsers. -*/
  font-size: 100%;
  /*- Change the font styles in all browsers. -*/
  line-height: 1.15;
  /*- Change the font styles in all browsers. -*/
  margin: 0;
  /*- Remove the margin in Firefox and Safari. -*/
}

button,
input {
  /*- Show the overflow in Edge and IE. -*/
  overflow: visible;
}

input::-ms-clear {
  display: none;
  /*─ IE11 → remove cross to close ─*/
}

button,
select {
  /*- Remove the inheritance of text transform in Edge, Firefox, and IE. -*/
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /*- Correct the inability to style clickable types in iOS and Safari.
  -*/
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
  /*- Remove the inner border and padding in Firefox. -*/
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
  /*- Restore the focus styles unset by the previous rule. -*/
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
  /*- Correct the padding in Firefox. -*/
}

legend {
  box-sizing: border-box;
  /*- Correct the text wrapping in Edge and IE. -*/
  color: inherit;
  /*- Correct the color inheritance from `fieldset` elements in IE. -*/
  display: table;
  /*- Correct the text wrapping in Edge and IE. -*/
  max-width: 100%;
  /*- Correct the text wrapping in Edge and IE. -*/
  padding: 0;
  /*- Remove the padding so developers are not caught out when they zero out `fieldset` elements in all browsers. -*/
  white-space: normal;
  /*- Correct the text wrapping in Edge and IE. -*/
}

progress {
  vertical-align: baseline;
  /*- Add the correct vertical alignment in Chrome, Firefox, and Opera. -*/
}

textarea {
  overflow: auto;
  /*- Remove the default vertical scrollbar in IE 10+. -*/
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /*- Add the correct box sizing in IE 10. -*/
  padding: 0;
  /*- Remove the padding in IE 10. -*/
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /*- Correct the cursor style of increment and decrement buttons in Chrome. -*/
}

[type=search] {
  -webkit-appearance: textfield;
  /*- Correct the odd appearance in Chrome and Safari. -*/
  outline-offset: -2px;
  /*- Correct the outline style in Safari. -*/
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /*- Remove the inner padding in Chrome and Safari on macOS. -*/
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /*- Correct the inability to style clickable types in iOS and Safari. -*/
  font: inherit;
  /*- Change font properties to `inherit` in Safari.-*/
}

details {
  display: block;
  /*- Add the correct display in Edge, IE 10+, and Firefox. -*/
}

summary {
  display: list-item;
  /*- Add the correct display in all browsers. -*/
}

template {
  display: none;
  /*- Add the correct display in IE 10+. -*/
}

[hidden] {
  display: none;
  /*- Add the correct display in IE 10. -*/
}

/*************
    base
**************/
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: auto;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  list-style-type: none;
}

ul,
li {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

/*************
    Typography
**************/
/*************
    Explore and 
    Order Button
**************/
.container-explore__btn {
  background: linear-gradient(0deg, #9356DC 0%, #FF79D1 100%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 50px;
  width: 220px;
  border-radius: 100px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
}

.opt-list__btn {
  background-color: #F6F6F6;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 65px;
  width: 100%;
  border-radius: 18px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
  padding: 0 20px 0 20px;
  margin: 10px 0;
}
.opt-list__btn--icon {
  color: grey;
  position: absolute;
  left: 60px;
}

.tab {
  background-color: #F6F6F6;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 65px;
  width: 100%;
  border-radius: 18px;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  margin: 15px 0;
}
.tab__details {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.tab__details--main {
  margin: 0 0 5px 0;
  font-size: 17.5px;
  font-weight: 500;
}
.tab__details--secondary {
  margin: 0 5px 0 0;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.tab__details--price {
  margin-right: 10px;
  font-weight: 550;
  font-size: 15px;
  padding-top: 25px;
}

.container-btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 60px 0;
}

.btn-menu {
  background: linear-gradient(0deg, #9356DC 0%, #FF79D1 100%);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  height: 50px;
  width: 180px;
  border-radius: 100px;
  font-weight: 450;
  font-size: 16px;
  cursor: pointer;
}

/*************
    Restaurant
    Cards
**************/
.container-restaurant {
  background-color: #F6F6F6;
  height: auto;
  width: 100%;
  padding: 0 20px;
}
.container-restaurant h2 {
  padding-top: 50px;
}

.container-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: white;
  width: 100%;
  height: 250px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 1px #e2e2e2;
  margin: 0 0 20px 0;
}
.cards__img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: 0px -40px;
  border-radius: 15px 15px 0 0;
}
.cards:nth-child(2) .cards__img {
  object-position: 0px -140px;
}
.cards:nth-child(4) .cards__img {
  object-position: 0px -45px;
}
.cards__nouveau {
  background-color: #99E2D0;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #009070;
  border-radius: 3px;
  padding: 5px 10px 5px 10px;
  position: absolute;
  right: 30px;
  margin-top: 10px;
  font-size: 15px;
  font-weight: 520;
}
.cards__details {
  display: flex;
}
.cards__details--txt {
  margin: 15px 10px 0px 15px;
  padding-right: 50px;
}
.cards__details--main {
  margin: 0 0 5px 0;
  font-size: 18.5px;
  font-weight: 600;
}
.cards__details--secondary {
  margin: 0;
  font-size: 17px;
  font-weight: 300;
}

/*************
    header
**************/
header {
  display: flex;
  justify-content: center;
  height: 55px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.279);
}
header a {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .left-arrow {
  position: absolute;
  left: 25px;
  font-size: 18px;
}

img {
  width: 160px;
  height: auto;
}

/*************
    section : search
**************/
.search-bar {
  background-color: #EAEAEA;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  box-shadow: 0px 3px 5px 0px #CCCCCC inset;
}
.search-bar__icons {
  font-size: 15px;
}
.search-bar__input {
  background: none;
  border: none;
  text-align: center;
  width: 40%;
}
.search-bar__input::placeholder {
  color: black;
  font-weight: 400;
  font-size: 16px;
}

/*************
    section : explore
**************/
.container-explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
  box-shadow: 0px 0px 98px 1px rgba(0, 0, 0, 0.03) inset;
  height: auto;
  padding: 40px 0px 50px 0;
}
.container-explore h2 {
  margin: 0 40px 0 40px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.container-explore p {
  margin: 15px 30px 25px 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
}

/*************
    section : function
**************/
.container-opt {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 20px 30px 20px;
}

.opt-list {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.opt-list__step {
  display: flex;
  align-items: center;
}
.opt-list__number {
  background-color: #9356DC;
  padding: 2px 6.5px;
  border-radius: 500px;
  color: white;
  position: absolute;
  left: 18px;
  font-size: 14px;
  font-weight: 500;
}
.opt-list__txt {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}

/*************
    menus
**************/
.background-img__horizontal {
  max-width: 100%;
  max-height: 255px;
  width: 100%;
  object-fit: cover;
}

.background-img__vertical {
  max-height: 255px;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0px -92px;
}

.container-menu {
  background-color: #F6F6F6;
  padding-top: 10px;
  margin-top: -40px;
  border-radius: 30px 30px 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}

.container-menu {
  max-width: 100%;
}

.menu-title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.menu-title__txt {
  font-weight: 50;
  font-size: 28px;
  font-family: Shrikhand;
  padding-left: 20px;
  margin: 20px 0 35px 0;
}

.sub-menu {
  margin: 0 10px 0 10px;
  padding-bottom: 25px;
}
.sub-menu__title {
  position: relative;
  padding-bottom: 7px;
  font-weight: 300;
  font-size: 17px;
  margin: 0 0 15px 10px;
}
.sub-menu__title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 47px;
  height: 3px;
  background-color: #99E2D0;
}

/*************
    footer
**************/
.footer {
  background-color: #343434;
  width: 100%;
  height: auto;
  padding: 0px 0 15px 0;
}
.footer__logo {
  color: #FFFFFF;
  font-family: Shrikhand;
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin: 0px 20px;
  padding-top: 30px;
}
.footer ul {
  padding: 0;
  margin: 20px;
}
.footer__txt {
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 400;
  display: block;
  margin: 7px 0 7px 0;
}
.footer__txt:hover {
  text-decoration: underline;
}
.footer__txt--icon1 {
  font-size: 15px;
  margin-right: 10px;
}
.footer__txt--icon2 {
  font-size: 10px;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
