/////////////////
//// mixins ////
///////////////


// Flexbox // 

@mixin FlexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin FlexColumnCenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin FlexColumn {
    display: flex;
    flex-direction: column;
}

@mixin FlexVerticalCenter {
    display: flex;
    justify-content: center;
}

// Box-shadow // 

@mixin box-shadow {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.30);
}

// button explore and order // 


@mixin background-btn-explore {
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}

@mixin margin-inline {
    margin-inline-start: 30px;
    margin-inline-end: 30px;
}

// btn option // 
