////////////////////
//// variables ////
//////////////////

$primary-color: #9356DC;
$secondary-color: #FF79D1;
$tertiary-color: #99E2D0;

$search-bar-color: #EAEAEA; 
$placeholder-color: black;

$explore-background-color: #F6F6F6;